body{
    text-align: center;
    background-color: #999;
}
#session{
    color: #f9f757;
    margin-left: 50px;
    margin-right: 50px;
}
#time{
    padding-right: 5px
}
#MainTimer{
    border: 2px solid black;
}
.time{
    padding:5px;
}